<%
var posts
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
<div class="wraper">

    <%- include('header') %>

    <main>
        <section class="articles">
            <% for (var i = 0; i < posts.length; i++){ %>
                <div>
                    <a class="article" href="/post/<%= posts[i]._id %>">
                        <p style=""><%= posts[i].data[0].title %> </p>
                        <p style=""> <%= //posts[i].data[0].date.toLocaleDateString('en-GB') %> </p>
                    </a>
                </div>
            <% } %>
        </section>
    </main>

    <%- include('footer') %>

</div>
</body>
</html>